/* =========================
   Day 11 - CSS Basic Selectors
   ========================= */

/* Universal Selector
   Selects every element */
* {
  box-sizing: border-box;
}

/* =========================
   Basic Page Style
   ========================= */

body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  background-color: #f5f5f5;
  color: #333;
}

section {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* =========================
   1. Type Selector
   ========================= */

/* Selects every p element */
p {
  line-height: 1.6;
}

/* =========================
   2. Class Selector
   ========================= */

/* Selects every element
   with class="highlight" */
.highlight {
  background-color: yellow;
}

/* =========================
   3. Element + Class
   ========================= */

/* Only h2 with class highlight */
h2.highlight {
  color: darkred;
}

/* Only span with class highlight */
span.highlight {
  color: darkblue;
  font-weight: bold;
}

/* =========================
   4. Multiple Classes
   ========================= */

.notebox {
  border: 4px solid #666;
  padding: 15px;
  margin: 10px 0;
}

/* Must have BOTH classes */
.notebox.warning {
  border-color: orange;
  background-color: #fff4dd;
  font-weight: bold;
}

.notebox.danger {
  border-color: red;
  background-color: #ffe5e5;
  font-weight: bold;
}

/* =========================
   5. ID Selector
   ========================= */

#main-title {
  color: darkslategray;
  border-bottom: 5px solid steelblue;
}

#important-message {
  background-color: lightblue;
  padding: 15px;
  font-weight: bold;
}

/* =========================
   6. Selector List
   ========================= */

h3,
h4 {
  color: purple;
  text-decoration: underline;
}

/* =========================
   7. Universal Selector
   ========================= */

/* Select every element
   inside .universal-demo */
.universal-demo * {
  letter-spacing: 0.5px;
}

/* Footer */

footer {
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}
input[type] {
  padding: 10px;
}
input[type="email"] {
  background-color: lightyellow;
}
a[title] {
  font-weight: bold;
}
a[href$=".pdf"] {
  color: red;
}
a[href="youtube"] {
  color: purple;
}
p[class~="warning"] {
  background-color: lightyellow;
}
p[class~="danger"] {
  background-color: pink;
}
div[class^="box-"] {
  border: 2px solid gray;
  padding: 10px;
}
